// BASE STYLING--------
#wrap { height: auto; margin: 0 auto -60px; min-height: 100%; padding: 0 0 60px;  }
html, body{font-family:serif; color:black; letter-spacing:0.05em; height:100%; font-size:12px}
a, a:hover, a:active, a:focus{ color: blue;}
h1, h2, h3, h4, h5, h6{font-family:serif !important;  text-transform:uppercase; color:#666666; font-weight:500;}
h2, .page-title{ font-size:18px;}
h3, .heading3{ font-size:14px;}
.list-group{font-family:serif !important;}

g1, g2, g3, g4, g5, g6 .no-transform{font-family:serif !important;  text-transform:uppercase; color:#666666; font-weight:500;}